*{
    margin: 0;
    padding: 0;

}
.grid-container{
    display: grid;
    grid-template: 700px auto/400px auto;
    gap: 0;
    
}
.left-item{
    background-image: url(./assets/left\ image.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.search-div{
    display: flex;
    width: 300px;
    margin: 50px 0px 20px 65px;
    background-color: rgb(228, 209, 173);
    border-radius: 20px;
    height: 32px;
}
.searchbar{
    width: 250px;
    border-radius: 20px;
    border: none;
    background-color: rgb(228, 209, 173);
    font-size: 20px;
}
.material-symbols-outlined{
    margin: 3px 5px;
    color: rgb(200, 104, 2);
    font-size: 30px;
    
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly

}
button{
    border-radius: 15px;
    font-size:20px;
    min-width: 150px;
    background-color: rgb(215, 97, 29);
    border:none;
    color: rgb(227, 216, 195);
    font-weight: 600;
    height:32px;
    margin: 10px 10px;
}
.right-item{
    background-image: url(./assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    grid-column: span 2;
}